{% extends "base.html" %}

{% block titulo %} Crear partido {% endblock %}

{% block contenido_principal %}
<h2>Crear partido</h2>
<form class="form-horizontal col-12" method="post" action="/match" >
    <div class="form-group required">
        <label class="control-label col-sm-2" for="local">Equipo local:</label>
        <div class="col-sm-10">
            <select id="local" name="local" class="col-12">
                {% for team in teams %}
                <option value="{{ team.teamName }}" >{{ team.teamName }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="visitor">Equipo visitante:</label>
        <div class="col-sm-10">
            <select id="visitor" name="visitor" class="col-12">
                {% for team in teams %}
                <option value="{{ team.teamName }}" >{{ team.teamName }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="quarter">Número de cuartos:</label>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input id="quarter" type="number" min="1" class="form-control" name="quarter"
                   placeholder="4" required="true" />
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="duration">Duración del cuarto (minutos):</label>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input id="duration" type="number" min="1" max="60" class="form-control" name="duration"
                   placeholder="10" required="true" />
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="timeOut">Tiempos muertos/equipo/cuarto:</label>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input id="timeOut" type="number" min="0" class="form-control" name="timeOut"
                   placeholder="2" required="true" />
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="personalFoul">Máximo de faltas personales/jugador:</label>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input id="personalFoul" type="number" min="0" class="form-control" name="personalFoul"
                   placeholder="5" required="true" />
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="date">Fecha:</label>
        <div class="col-sm-10">
            <input id="date" type="date" class="form-control" name="date" required="true" />
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="time">Hora:</label>
        <div class="col-sm-10">
            <input id="time" type="time" class="form-control" name="time" required="true" />
        </div>
    </div>
    <div class="form-group required">
        <label class="control-label col-sm-2" for="courtSelect">Lugar:</label>
        <div class="col-sm-10">
            <select id="courtSelect" name="courtSelect" class="col-12"
                    onchange="if(this.value=='otro') {document.getElementById('court').disabled = false} else {document.getElementById('court').disabled = true} ">
                {% for team in teams %}
                <option value="{{ team.teamCourt }}" >{{ team.teamCourt }}</option>
                {% endfor %}
                <option value="otro" >Otro</option>
            </select>
        </div>
    </div>
    <div id="other" class="form-group">
        <label class="control-label col-sm-2" for="court">Otro:</label>
        <div class="col-sm-10">
            <input disabled id="court" type="text" class="form-control" name="court" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="tableOfficial">Oficial de mesa:</label>
        <div class="col-sm-10">
            <select id="tableOfficial" name="tableOfficial" class="col-12">
                <option value="none" >Sin asignar</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Crear partido</button>
        </div>
    </div>
</form>
{% endblock %}